:root {
    --yellowMainColor: #f4ae00;
    --blueMainColor: #0866ff;
    --greenMainColor: #00cc00;
    --redMainColor: #ff0000;
    --blackMainColor: #1c1c1c;
    --grayMainColor: #eaeaea;
    
    --darkBlueMainColor:#090651;
    --whiteColor: #ffffff;
    --blueShadowColor: #111d8e;
    --PerfectDOS: 'Perfect DOS VGA 473 Win', sans-serif;
    --kerning: 2px: 
}

@font-face {
    font-family: 'Perfect DOS VGA 473 Win';
    src: url(../fonts/Perfect_DOS_VGA_437_Win.ttf);
}